easy-extension-core/resources/xsd/dataset.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns:dflt="easyextension">
	<xsd:import namespace="easyextension" schemaLocation="easyextension.xsd" />
	<xsd:element name="dataset">
		<xsd:complexType>
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="app" type="dflt:app__type" />
				<xsd:element name="dbmaintain_scripts" type="dflt:dbmaintain_scripts__type" />
				<xsd:any namespace="easyextension" />
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
